<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AviaSale.Properties.Settings.aviasaleConnectionString"
            connectionString="server=localhost;user id=root;database=aviasale"
            providerName="MySql.Data.MySqlClient" />
        <add name="AviaSale.Properties.Settings.asaleConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=asale"
            providerName="MySql.Data.MySqlClient" />
        <add name="AviaSale.Properties.Settings.aerosale" connectionString="server=localhost;user id=root;database=asale"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>